@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

body {
  font-family: Sarabun;
  font-size: .8rem;
}

.text-dark {
  color: #212529;
}

.text-primary {
  color: #0d6efd;
}

.text-secondary {
  color: #6c757d;
}

.text-success {
  color: #198754;
}

.text-info {
  color: #0dcaf0;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-light {
  color: #f8f9fa;
}




/* ################################ */
/* ######### Border Style ######### */
/* ################################ */
.border {
  border: 1px solid #000;
}

.border-left {
  border-left: 1px solid #000;
}

.border-right {
  border-right: 1px solid #000;
}

.border-top {
  border-top: 1px solid #000;
}

.border-bottom {
  border-bottom: 1px solid #000;
}





/* ################################# */
/* ######### Padding Style ######### */
/* ################################# */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-start-1 {
  padding-left: 1rem;
}

.p-end-1 {
  padding-right: 1rem;
}





/* ################################# */
/* ######### Screen Style ########## */
/* ################################# */
@media screen {
  body {
    background: #e0e0e0
  }

  .sheet {
    background: white;
    box-shadow: none;
    margin: 0;
  }
}